<!DOCTYPE html>
<html>
<head>
	<title>THis is my page</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/common.css">



	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/jquery.fullPage.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="{{ site.baseurl }}/vendors/jquery.easings.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/vendors/scrolloverflow.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/jquery.fullPage.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
              sectionsColor: ['#F5F5F5', '#F5F5F5', '#F5F5F5', 'F5F5F5', '#F5F5F5'],
              anchors: ['home', 'item 1', 'item 2', 'item 3', 'lastPage'],
              menu: '#menu',
                  paddingTop: '50px',
    paddingBottom: '50px',
            });
        });
    </script>

</head>
<body><!-- 
<header class='masthead'>
	<h1>Dan's site</h1>

{% include nav.html navclass='nav-top' %}

{% include nav.html navclass='nav-bottom' %}


</header> -->
{{content}}

</body>
</html>
