<!DOCTYPE html>
<html>
<head>
	<title>THis is my page</title>
	
<link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
<script type="text/javascript">
	$(document).ready(function() {
	$('#fullpage').fullpage();
});
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
<script src="{{site.baseurl}}/vendors/jquery.easings.min.js"></script>


<!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
<script type="text/javascript" src="{{site.baseurl}}/vendors/scrolloverflow.min.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/js/jquery.fullPage.js"></script>
</head>
<body>
<header>
	<h1>Dan's site</h1>
	<nav>
		<ul>
			<li><a href="{{site.baseurl}}/index.html">Home<a></li>
			<li><a href="{{site.baseurl}}/news.html">News<a></li>
		</ul>
	</nav>
</header>
{{content}}

</body>
</html>
